

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container{
    height: 95vh;
}

.img{
    height: 100%;
    object-fit: contain;
}


.details-container{
    margin-left: 2.5rem;
}

.add-btn {
    padding: 0.8rem;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn {
    padding: 0.8rem;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
